<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../../css/main.css">
    <script src="../../../libs/jquery.min.js"></script>
    <script src="../../../plugins/layer/layer.js"></script>
    <script src="../../../libs/bootstrap.min.js"></script>
    <script src="../../../libs/vue.min.js"></script>
    <!--弹出框jquery-confirm  start -->
	<link href="../../../libs/jquery-confirm/jquery-confirm.css" rel="stylesheet">
	<script  src="../../../libs/jquery-confirm/jquery-confirm.min.js"></script>
	<script  src="../../../libs/jquery-confirm/jquery-confirm.js"></script>
	<!--弹出框jquery-confirm  end -->
    
    
    
    <script src="../../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../../js/common.js"></script>
</head>
<body>
<div class="maindiv">
    <div class="base_div"><!-- base  div-->
        <div class="down_div"><!--down div-->
            <table class="table">
                <thead>
                <tr>
                    <th width="5%">编号</th>
                    <th width="10%">项目申报部门</th>
                    <th width="10%">部门负责人</th>
                    <th width="10%">联系方式</th>
                    <th width="20%">项目名称</th>
                    <th width="10%">项目联系人</th>
                    <th width="10%">联系方式</th>
                    <th width="10%">状态</th>
                    <th width="15%">操作</th>
                </tr>
                </thead>
                <tbody  id="tbodyId">
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom_div"  id="bottom_div"></div>
    
	<!--详情  -->
    <div id="detail_zxjh_modal_div">
        <!--ths 修改模态框（Modal） -->
        <div class="modal fade" id="detail_zxjh_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="myModalLabel">
                                              执行计划详情
                        </h5>
                    </div>
                    <form  id="detail_formId">
	                    <div class="modal-body"  id="modal_body_div">
	                        <!--表单 -->
	                        <h3>自主采购项目预算执行计划</h3>
	                        <h4>鄂交自采计[<input type="text" id="detail_bh1" style="width: 100px">]-<input type="text" id="detail_bh2" style="width: 100px">   号</h4>
	                        <table class="table table-bordered"  id="detail_table">
	                            <tr>
	                                <td  colspan="2" width="20%"><b>项目申报部门</b> </td>
	                                <td colspan="8"><input type="text" id="detail_dept" style="width: 682px"   ></td>
	                            </tr>
	                            <tr>
	                                <td  colspan="2" width="20%"><b>项目申报部门<br>负责人</b></td>
	                                <td width="20%"><input type="text" id="detail_deptpeo" style="width: 150px" ></td>
	                                <td ><b>联系方式</b></td>
	                                <td colspan="6" width="50%"><input type="text" id="detail_deptpeoinfo" style="width: 400px" ></td>
	                            </tr>
	                            <tr>
	                                <td rowspan="2" style="text-align: center;line-height: 74px"><b>一</b></td>
	                                <td><b>项目名称</b></td>
	                                <td colspan="8"><input type="text" id="detail_projectname" style="width: 682px" ></td>
	                            </tr>
	                            <tr>
	                                <td><b>项目联系人</b></td>
	                                <td><input type="text" id="detail_projectcontact" style="width: 150px" ></td>
	                                <td><b>联系方式</b></td>
	                                <td colspan="6"><input type="text" id="detail_projectpeoinfo" style="width: 400px" ></td>
	                            </tr>
	                            <tr>
	                                <td style="text-align: center"><b>二</b></td>
	                                <td  colspan="2"><b>采购方式</b></td>
	                                <td colspan="7">
	                                    <label><input type="radio"  style="width: 30px" name="detail_buyway" value="0">竞争性谈判</label>
										<label><input type="radio" style="width: 30px"name="detail_buyway"  value="1">询价</label>
										<label><input type="radio" style="width: 30px"name="detail_buyway"  value="2">竞争性磋商</label>
										<label><input type="radio" style="width: 30px"name="detail_buyway"  value="3">单一来源</label>
	                                </td>
	                            </tr>
	
	                            <tr>
	                                <td rowspan="3" style="line-height: 111px;text-align: center"><b>三</b></td>
	                                <td colspan="9"><b>自主采购资金来源</b></td>
	                            </tr>
	                            <tr>
	                                <td colspan="5" ><b>资金来源</b></td>
	                                <td colspan="2"><b>预算项目金额（元）</b></td>
	                                <td colspan="2"><b>申请项目金额（元）</b></td>
	                            </tr>
	                            <tr>
	                                <td colspan="5"><input type="text" id="detail_moneyway" style="width: 500px" ></td>
	                                <td colspan="2"><input type="text" id="detail_premoney" style="width: 170px" class="easyui-numberbox" required="true" missingMessage="不能为空"></td>
	                                <td colspan="2"><input type="text" id="detail_questmoney" style="width: 100px" class="easyui-numberbox" required="true" missingMessage="不能为空"></td>
	                            </tr>
	                            <tr>
	                                <td id="detail_rowspan_change" rowspan="3" style="text-align: center">
	                                  	<b>四</b>
	                                </td>
	                                <td colspan="9">
	                                  	  <b>采购项目需求</b>
	                                </td>
	                            </tr>
								<tr  id="detail_items_tr_id">
	                                <td>
	                                <div>
		                                 <b>序号</b></div>
	                                </div>
	                                </td>
	                                <td width="20%"><b>品目名称</b></td>
	                                <td width="90px"><b>采购类别</b></td>
	                                <td><b>数量</b></td>
	                                <td width="90px"><b>计量单位</b></td>
	                                <td width="115px"><b>预算金额(元)</b></td>
	                                <td width="90px"><b>是否进口</b></td>
	                                <td><b>节能</b></td>
	                                <td><b>环保</b></td>
	                            </tr>
	                            <tr>
	                                <td colspan="6"><b>合计金额（元）</b></td>
	                                <td colspan="3"><input type="text" id="detail_totalmoney" style="width: 170px" class="easyui-numberbox" required="true" missingMessage="不能为空"></td>
	                            </tr>
	                           <tr>
	                                <td>
							            <b> 其他<br>
							                                    说明</b>
	                                </td>
	                                <td colspan="9">
	                                	<textarea rows="4" style="width: 800px;" id="detail_others" ></textarea>
	                                </td>
	                            </tr>
	                        </table>
		                    <div  class="div_sh" >
		                    	<div class="div_bmsh">
		                    		<div style="width: 30px;height: 100px;border-right: 1px #DDDDDD solid;">
		                    			<b>部门审核意见</b>
		                    		</div>
		                    		<div></div>
		                    	</div>
		                    	<div class="div_zcbsh">
		                    		<div style="width: 30px;height: 100px;border-right: 1px #DDDDDD solid">
		                    			<b>资产办管理办公室审批意见</b>
		                    		</div>
		                    		<div></div>
		                    	</div>
		                    </div>
	                    </div>
                    </form>
                    <div class="down_text" >
                    	<b>抄送：</b>监察室、计划财务处。<br>
                    	<b>备注:</b>
                    	<ol>
                    		<li>进口设备需在“一上”阶段向省财政厅报备，否则不得购置；</li>
                    		<li>如项目采购金额与预算文本一致，由部门负责人在平台审核即可；</li>
                    		<li>如项目采购金额与预算文本不一致，请说明理由，并请分管校长审批。</li>
                    	</ol>
                    </div>
                    <div class="modal-footer" style="text-align: center;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>

	<!--审批  -->
    <div id="checkPlan_modal_div">
        <!--ths 修改模态框（Modal） -->
        <div class="modal fade" id="checkPlan_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="myModalLabel">
                                 	项目负责人审核
                        </h5>
                    </div>
                    <form  id="checkPlan__formId">
						<div class="modal-body"  id="modal_body_div"  >
						说明:<textarea rows="3" class="easyui-validatebox" style="width: 523px" required="true" missingMessage="不能为空" id="check_Msg"></textarea>
						</div>
						<div class="jeinpbox"  style="padding-left: 17px;">
						 日期:<input type="text" class="jeinput easyui-validatebox" id="ymd01" placeholder="" required="true" missingMessage="不能为空" style="width: 523px;text-align: center;">
						</div>
                    </form>
                    <div class="modal-footer" style="text-align: center;" id="planStatus_div">
                        <button type="button" class="btn btn-default"  planStatus="2" id="plan_fail" >审批未过</button>
                        <button type="button" class="btn btn-primary"  planStatus="3" id="plan_pass" >审批通过</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>


</div>
<link rel="stylesheet" href="../../../css/hbctc/jxsq/jxsq.css">
<script src="../../../js/hbctc/jxsq/BuyItemInfo.js"></script>
<script src="../../../js/hbctc/jxsq/ProjectRequestForm.js"></script>
<script src="../../../js/hbctc/checkone/checkone.js"></script>
<!-- jdate -->
<link type="text/css" rel="stylesheet" href="../../../libs/jedate-6.0.2/skin/jedate.css">
<link type="text/css" rel="stylesheet" href="../../../libs/ezui/easyui.css">
<link type="text/css" rel="stylesheet" href="../../../libs/ezui/icon.css">
<script type="text/javascript" src="../../../libs/jedate-6.0.2/jquery.jedate.js"></script>
<script type="text/javascript" src="../../../libs/ezui/jquery.easyui.min.js"></script>
<script src="../../../js/paging.js"></script>
</body>
</html>