<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../../css/main.css">
    <script src="../../../libs/jquery.min.js"></script>
    <script src="../../../plugins/layer/layer.js"></script>
    <script src="../../../libs/bootstrap.min.js"></script>
    <script src="../../../libs/vue.min.js"></script>
    <script src="../../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../../js/common.js"></script>
</head>
<body>
<div class="maindiv">
    <div class="base_div"><!-- base  div-->
        <div class="top_div"><!--top div-->
            <button type="button" class="btn btn-default btn-xs" id="btn_add_zxjh">新增</button>
        </div>
        <div class="down_div"><!--down div-->
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="add_zxjh_modal_div">
        <!--ths 修改模态框（Modal） -->
        <div class="modal fade" id="add_zxjh_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="myModalLabel">
                            新增执行计划
                        </h5>
                    </div>
                    <form  id="formId">
	                    <div class="modal-body">
	                        <!--表单 -->
	                        <h3>自主采购项目预算执行计划</h3>
	                        <h4>鄂交自采计[<input type="text" id="bh1" style="width: 100px">]-<input type="text" id="bh2" style="width: 100px">   号</h4>
	                        <table class="table table-bordered">
	                            <tr>
	                                <td  colspan="2" width="20%"><b>项目申报部门</b> </td>
	                                <td colspan="8"><input type="text" id="dept" style="width: 682px"   class="easyui-validatebox" required="true" missingMessage="不能为空"></td>
	                            </tr>
	                            <tr>
	                                <td  colspan="2" width="20%"><b>项目申报部门<br>负责人</b></td>
	                                <td width="20%"><input type="text" id="deptpeo" style="width: 150px" class="easyui-validatebox" required="true" missingMessage="不能为空"></td>
	                                <td ><b>联系方式</b></td>
	                                <td colspan="6" width="50%"><input type="text" id="deptpeoinfo" style="width: 400px" class="easyui-validatebox" required="true" missingMessage="不能为空"></td>
	                            </tr>
	                            <tr>
	                                <td rowspan="2" style="text-align: center;line-height: 74px"><b>一</b></td>
	                                <td><b>项目名称</b></td>
	                                <td colspan="8"><input type="text" id="projectname" style="width: 682px" class="easyui-validatebox" required="true" missingMessage="不能为空"></td>
	                            </tr>
	                            <tr>
	                                <td><b>项目联系人</b></td>
	                                <td><input type="text" id="projectcontact" style="width: 150px" class="easyui-validatebox" required="true" missingMessage="不能为空"></td>
	                                <td><b>联系方式</b></td>
	                                <td colspan="6"><input type="text" id="projectpeoinfo" style="width: 400px" class="easyui-validatebox" required="true" missingMessage="不能为空"></td>
	                            </tr>
	                            <tr>
	                                <td style="text-align: center"><b>二</b></td>
	                                <td  colspan="2"><b>采购方式</b></td>
	                                <td colspan="7">
	                                    <label><input type="radio"  style="width: 30px" name="buyway" checked="checked" value="0">竞争性谈判</label>
										<label><input type="radio" style="width: 30px"name="buyway"  value="1">询价</label>
										<label><input type="radio" style="width: 30px"name="buyway"  value="2">竞争性磋商</label>
										<label><input type="radio" style="width: 30px"name="buyway"  value="3">单一来源</label>
	                                </td>
	                            </tr>
	
	                            <tr>
	                                <td rowspan="3" style="line-height: 111px;text-align: center"><b>三</b></td>
	                                <td colspan="9"><b>自主采购资金来源</b></td>
	                            </tr>
	                            <tr>
	                                <td colspan="5" ><b>资金来源</b></td>
	                                <td colspan="2"><b>预算项目金额（元）</b></td>
	                                <td colspan="2"><b>申请项目金额（元）</b></td>
	                            </tr>
	                            <tr>
	                                <td colspan="5"><input type="text" id="moneyway" style="width: 500px" class="easyui-validatebox" required="true" missingMessage="不能为空"></td>
	                                <td colspan="2"><input type="text" id="premoney" style="width: 170px" class="easyui-numberbox" required="true" missingMessage="不能为空"></td>
	                                <td colspan="2"><input type="text" id="questmoney" style="width: 100px" class="easyui-numberbox" required="true" missingMessage="不能为空"></td>
	                            </tr>
	                            <tr>
	                                <td id="rowspan_change" rowspan="3" style="text-align: center">
	                                  	<b>四</b>
	                                </td>
	                                <td colspan="9">
	                                  	  <b>采购项目需求</b>
	                                </td>
	                            </tr>
								<tr>
	                                <td>
	                                <div class="id_div_add">
		                                 <div class="add_img" title="点击新增栏目"></div>
		                                 <div class="id_title"><b>序号</b></div>
	                                </div>
	                                </td>
	                                <td width="20%"><b>品目名称</b></td>
	                                <td width="90px"><b>采购类别</b></td>
	                                <td><b>数量</b></td>
	                                <td width="90px"><b>计量单位</b></td>
	                                <td width="115px"><b>预算金额(元)</b></td>
	                                <td width="90px"><b>是否进口</b></td>
	                                <td><b>节能</b></td>
	                                <td><b>环保</b></td>
	                            </tr>
	 <!--                           <tr  id="cgxmxq_tr">
	                                <td>
	                                	<div class="id_div_sub">
	                                		<div class="sub_img" title="点击删除栏目"></div>
	                                		<div class="id_value">1</div>
	                                	</div>
	                                </td>
	                                <td><input type="text" id="projectName" style="width: 150px"></td>
	                                <td>
										<select id="cglb">
											<option>货物</option>
											<option>服务</option>
											<option>工程</option>
										</select>
									</td>
	                                <td><input type="text" id="qta"></td>
	                                <td><input type="text" id="jldw"></td>
	                                <td><input type="text" id="ysje"></td>
	                                <td>
										<select id="isImport">
											<option>是</option>
											<option>否</option>
										</select>
									</td>
	                                <td>
										<select id="isEnergy">
											<option>是</option>
											<option>否</option>
										</select>
	                                </td>
	                                <td>
										<select id="isEnvironment">
											<option>是</option>
											<option>否</option>
										</select>
	                                </td>
	                            </tr>  -->
	                            <tr>
	                                <td colspan="6"><b>合计金额（元）</b></td>
	                                <td colspan="3"><input type="text" id="totalmoney" style="width: 170px" class="easyui-numberbox" required="true" missingMessage="不能为空"></td>
	                            </tr>
	                           <tr>
	                                <td>
							            <b> 其他<br>
							                                    说明</b>
	                                </td>
	                                <td colspan="9">
	                                	<textarea rows="4" style="width: 800px;" id="others" class="easyui-validatebox" required="true" missingMessage="不能为空"></textarea>
	                                </td>
	                            </tr>
	                <!--              <tr>
	                                <td>
							            <b> 资产<br>
							                                    办管<br>
							                                    理办<br>
							                                    公室<br>
							                                    审批<br>
							                                    意见</b>
	                                </td>
	                                <td colspan="9">
	                                	<textarea rows="9" style="width: 800px;" id="zcbspyj"></textarea>
	                                	 <div class="jeinpbox" style="text-align: right;">
	                                		日期:<input type="text" class="jeinput" id="ymd01" placeholder="YYYY年MM月DD日"  style="width: 200px;text-align: center;">
	                                	 </div>
	                                </td>
	                            </tr> -->
	                        </table>
		                    <div  class="div_sh" style="display: none">
		                    	<div class="div_bmsh">
		                    		<div style="width: 30px;height: 100px;border-right: 1px #DDDDDD solid;">
		                    			<b>部门审核意见</b>
		                    		</div>
		                    		<div></div>
		                    	</div>
		                    	<div class="div_zcbsh">
		                    		<div style="width: 30px;height: 100px;border-right: 1px #DDDDDD solid">
		                    			<b>资产办管理办公室审批意见</b>
		                    		</div>
		                    		<div></div>
		                    	</div>
		                    </div>
	                    </div>
                    </form>
                    <div class="down_text"  id="beforAgentTr">
                    	<b>抄送：</b>监察室、计划财务处。<br>
                    	<b>备注:</b>
                    	<ol>
                    		<li>进口设备需在“一上”阶段向省财政厅报备，否则不得购置；</li>
                    		<li>如项目采购金额与预算文本一致，由部门负责人在平台审核即可；</li>
                    		<li>如项目采购金额与预算文本不一致，请说明理由，并请分管校长审批。</li>
                    	</ol>
                    </div>
                    <div class="modal-footer" style="text-align: center;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="add_request">申请</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
<link rel="stylesheet" href="../../../css/hbctc/jxsq/jxsq.css">
<script src="../../../js/hbctc/jxsq/BuyItemInfo.js"></script>
<script src="../../../js/hbctc/jxsq/ProjectRequestForm.js"></script>
<script src="../../../js/hbctc/jxsq/jxsq.js"></script>
<!-- jdate -->
<link type="text/css" rel="stylesheet" href="../../../libs/jedate-6.0.2/skin/jedate.css">
<link type="text/css" rel="stylesheet" href="../../../libs/ezui/easyui.css">
<link type="text/css" rel="stylesheet" href="../../../libs/ezui/icon.css">
<script type="text/javascript" src="../../../libs/jedate-6.0.2/jquery.jedate.js"></script>
<script type="text/javascript" src="../../../libs/ezui/jquery.easyui.min.js"></script>
</body>
</html>