<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.hbctc.dao.FundFromMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.hbctc.entity.FundFrom">
   <!--  <id column="id" jdbcType="INTEGER" property="id" /> -->
    <result column="detpname" jdbcType="VARCHAR" property="detpname" />
    <result column="deptno" jdbcType="VARCHAR" property="deptno" />
    <result column="moneyway" jdbcType="VARCHAR" property="moneyway" />
    <result column="buyItemType" jdbcType="CHAR" property="buyitemtype" />
    <result column="money" jdbcType="DOUBLE" property="money" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, detpname, deptno, moneyway, buyItemType, money
  </sql>
  <select id="selectByExample" parameterType="io.renren.modules.hbctc.entity.FundFromExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbctc_fundfrom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hbctc_fundfrom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hbctc_fundfrom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="io.renren.modules.hbctc.entity.FundFromExample">
    delete from hbctc_fundfrom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.renren.modules.hbctc.entity.FundFrom">
    insert into hbctc_fundfrom (id, detpname, deptno, 
      moneyway, buyItemType, money
      )
    values (#{id,jdbcType=INTEGER}, #{detpname,jdbcType=VARCHAR}, #{deptno,jdbcType=VARCHAR}, 
      #{moneyway,jdbcType=VARCHAR}, #{buyitemtype,jdbcType=CHAR}, #{money,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.renren.modules.hbctc.entity.FundFrom">
    insert into hbctc_fundfrom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detpname != null">
        detpname,
      </if>
      <if test="deptno != null">
        deptno,
      </if>
      <if test="moneyway != null">
        moneyway,
      </if>
      <if test="buyitemtype != null">
        buyItemType,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detpname != null">
        #{detpname,jdbcType=VARCHAR},
      </if>
      <if test="deptno != null">
        #{deptno,jdbcType=VARCHAR},
      </if>
      <if test="moneyway != null">
        #{moneyway,jdbcType=VARCHAR},
      </if>
      <if test="buyitemtype != null">
        #{buyitemtype,jdbcType=CHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.renren.modules.hbctc.entity.FundFromExample" resultType="java.lang.Long">
    select count(*) from hbctc_fundfrom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hbctc_fundfrom
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.detpname != null">
        detpname = #{record.detpname,jdbcType=VARCHAR},
      </if>
      <if test="record.deptno != null">
        deptno = #{record.deptno,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyway != null">
        moneyway = #{record.moneyway,jdbcType=VARCHAR},
      </if>
      <if test="record.buyitemtype != null">
        buyItemType = #{record.buyitemtype,jdbcType=CHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hbctc_fundfrom
    set id = #{record.id,jdbcType=INTEGER},
      detpname = #{record.detpname,jdbcType=VARCHAR},
      deptno = #{record.deptno,jdbcType=VARCHAR},
      moneyway = #{record.moneyway,jdbcType=VARCHAR},
      buyItemType = #{record.buyitemtype,jdbcType=CHAR},
      money = #{record.money,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.hbctc.entity.FundFrom">
    update hbctc_fundfrom
    <set>
      <if test="detpname != null">
        detpname = #{detpname,jdbcType=VARCHAR},
      </if>
      <if test="deptno != null">
        deptno = #{deptno,jdbcType=VARCHAR},
      </if>
      <if test="moneyway != null">
        moneyway = #{moneyway,jdbcType=VARCHAR},
      </if>
      <if test="buyitemtype != null">
        buyItemType = #{buyitemtype,jdbcType=CHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.renren.modules.hbctc.entity.FundFrom">
    update hbctc_fundfrom
    set detpname = #{detpname,jdbcType=VARCHAR},
      deptno = #{deptno,jdbcType=VARCHAR},
      moneyway = #{moneyway,jdbcType=VARCHAR},
      buyItemType = #{buyitemtype,jdbcType=CHAR},
      money = #{money,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>