<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.hbctc.dao.NumfactoryMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.hbctc.entity.Numfactory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bh1" jdbcType="INTEGER" property="bh1" />
    <result column="bh2" jdbcType="INTEGER" property="bh2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bh1, bh2
  </sql>
  <select id="selectByExample" parameterType="io.renren.modules.hbctc.entity.NumfactoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbctc_numfactory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hbctc_numfactory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectMaxBH" resultType="java.lang.Integer" >
  	select max(bh2) bh2 from hbctc_numfactory
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hbctc_numfactory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="io.renren.modules.hbctc.entity.NumfactoryExample">
    delete from hbctc_numfactory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.renren.modules.hbctc.entity.Numfactory">
    insert into hbctc_numfactory (id, bh1, bh2)
    values (#{id,jdbcType=INTEGER}, #{bh1,jdbcType=INTEGER}, #{bh2,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="io.renren.modules.hbctc.entity.Numfactory">
    insert into hbctc_numfactory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bh1 != null">
        bh1,
      </if>
      <if test="bh2 != null">
        bh2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bh1 != null">
        #{bh1,jdbcType=INTEGER},
      </if>
      <if test="bh2 != null">
        #{bh2,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.renren.modules.hbctc.entity.NumfactoryExample" resultType="java.lang.Long">
    select count(*) from hbctc_numfactory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hbctc_numfactory
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bh1 != null">
        bh1 = #{record.bh1,jdbcType=INTEGER},
      </if>
      <if test="record.bh2 != null">
        bh2 = #{record.bh2,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hbctc_numfactory
    set id = #{record.id,jdbcType=INTEGER},
      bh1 = #{record.bh1,jdbcType=INTEGER},
      bh2 = #{record.bh2,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.hbctc.entity.Numfactory">
    update hbctc_numfactory
    <set>
      <if test="bh1 != null">
        bh1 = #{bh1,jdbcType=INTEGER},
      </if>
      <if test="bh2 != null">
        bh2 = #{bh2,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.renren.modules.hbctc.entity.Numfactory">
    update hbctc_numfactory
    set bh1 = #{bh1,jdbcType=INTEGER},
      bh2 = #{bh2,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>