<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.hbctc.dao.UsedMoneyRecordMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.hbctc.entity.UsedMoneyRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="used_money" jdbcType="DOUBLE" property="usedMoney" />
    <result column="fundfrom_id" jdbcType="INTEGER" property="fundfromId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="capital_source_id" jdbcType="INTEGER" property="capitalSourceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, used_money, fundfrom_id, project_id, capital_source_id, create_time
  </sql>
  <select id="selectByExample" parameterType="io.renren.modules.hbctc.entity.UsedMoneyRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbctc_usedmoney_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hbctc_usedmoney_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hbctc_usedmoney_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="io.renren.modules.hbctc.entity.UsedMoneyRecordExample">
    delete from hbctc_usedmoney_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.renren.modules.hbctc.entity.UsedMoneyRecord">
    insert into hbctc_usedmoney_record (id, used_money, fundfrom_id, 
      project_id, capital_source_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{usedMoney,jdbcType=DOUBLE}, #{fundfromId,jdbcType=INTEGER}, 
      #{projectId,jdbcType=INTEGER}, #{capitalSourceId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.renren.modules.hbctc.entity.UsedMoneyRecord">
    insert into hbctc_usedmoney_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usedMoney != null">
        used_money,
      </if>
      <if test="fundfromId != null">
        fundfrom_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="capitalSourceId != null">
        capital_source_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usedMoney != null">
        #{usedMoney,jdbcType=DOUBLE},
      </if>
      <if test="fundfromId != null">
        #{fundfromId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="capitalSourceId != null">
        #{capitalSourceId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.renren.modules.hbctc.entity.UsedMoneyRecordExample" resultType="java.lang.Long">
    select count(*) from hbctc_usedmoney_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hbctc_usedmoney_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.usedMoney != null">
        used_money = #{record.usedMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.fundfromId != null">
        fundfrom_id = #{record.fundfromId,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.capitalSourceId != null">
        capital_source_id = #{record.capitalSourceId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hbctc_usedmoney_record
    set id = #{record.id,jdbcType=INTEGER},
      used_money = #{record.usedMoney,jdbcType=DOUBLE},
      fundfrom_id = #{record.fundfromId,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      capital_source_id = #{record.capitalSourceId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.hbctc.entity.UsedMoneyRecord">
    update hbctc_usedmoney_record
    <set>
      <if test="usedMoney != null">
        used_money = #{usedMoney,jdbcType=DOUBLE},
      </if>
      <if test="fundfromId != null">
        fundfrom_id = #{fundfromId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="capitalSourceId != null">
        capital_source_id = #{capitalSourceId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.renren.modules.hbctc.entity.UsedMoneyRecord">
    update hbctc_usedmoney_record
    set used_money = #{usedMoney,jdbcType=DOUBLE},
      fundfrom_id = #{fundfromId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      capital_source_id = #{capitalSourceId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>