.base_div {
	height: 450px;
	width: 100%;
	/* border: 1px #07ffff solid; */
}

.top_div {
	float: left;
	width: 100%;
	height: 30px;
	/* border: 1px solid grey; */
}

.down_div {
	width: 100%;
	float: right;
	/* border: 1px solid #80d63e; */
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

.down_text {
	padding-left: 15%;
}

input {
	width: 50px;
	border-bottom: 1px solid #091c11;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

tr>td {
	text-align: center;
}

textarea {
	resize: none;
}

.div_sh {
	width: 100%;
	/* padding-left: 15px;
	padding-right: 15px; */
}

.div_bmsh {
	height: 100%;
	width: 100%;
	border: 1px #DDDDDD solid;
	border-top: 0;
}

.div_zcbsh {
	border: 1px #DDDDDD solid;
	border-top: 0;
	height: 100%;
	width: 100%;
}

.id_div_add {
	width: 60px;
}
.id_div_edit {
	width: 60px;
}

.add_img {
	width: 25px;
	height: 25px;
	background: url("../../../images/hbctc/add.png");
	background-size: contain;
	float: left;
}

.add_img:hover {
	cursor: pointer;
}

.id_title {
	float: right;
	width: 30px;
	height: 25px;
}

.id_div_sub {
	width: 60px
}

.sub_img {
	width: 25px;
	height: 25px;
	background: url("../../../images/hbctc/sub.png");
	background-size: contain;
	float: left;
}
.sub_img_edit {
	width: 25px;
	height: 25px;
	background: url("../../../images/hbctc/sub.png");
	background-size: contain;
	float: left;
}
.sub_img:hover {
	cursor: pointer;
}
.sub_img_edit:hover {
	cursor: pointer;
}

.id_value {
	float: right;
	width: 30px;
	height: 25px;
}

.agency_div {
	height: 30px;
	width: 100%;
	border: 1px solid #D4D4D4;
	border-top:0;
	margin-top: -20px;
}

.agency_div_left {
	float: left;
	width: 50%;
	height: 29px;
	border-right: 1px #D4D4D4 solid;
	text-align: center;
	line-height: 29px;
}

.agency_div_right {
	float: right;
	width: 50%;
	height: 29px;
	text-align: center;
	line-height: 29px;
}

.bottom_div {
	width: 100%;
	height: 50px;
	text-align: right;
	/* border: 1px solid red;  */
}

.page_div {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 12px;
	font-family: "microsoft yahei";
	color: #666666;
	margin-right: 10px;
	padding-left: 20px;
	box-sizing: border-box;
}
/*

 * 页数按钮样式

 */
.page_div a {
	min-width: 30px;
	height: 28px;
	border: 1px solid #dce0e0!important;
	text-align: center;
	margin: 0 4px;
	cursor: pointer;
	line-height: 28px;
	color: #666666;
	font-size: 12px;
	display: inline-block;
}

thead>tr>th{
	text-align: center;
}
a:hover{
	cursor: pointer;
}

